<% if doctor_signed_in? %>
  <li>
  <a href="<%= doctor_patients_path %>">Hello, <strong><%= current_doctor.first_name.capitalize %></strong></a>
  </li>
  <li><a href="/doctors/edit">My Account</a></li>
  <li>
  <%= link_to('Logout', destroy_doctor_session_path, :method => :delete) %>        
  </li>
<% elsif patient_signed_in? %>
  <li>
  <a href="<%= patient_scheduled_doses_path(current_patient.id) %>">Hello, <strong><%= current_patient.first_name.capitalize %></strong></a>
  </li>
  <li><%= link_to('My Account', patient_path(current_patient)) %></li>
  <li>
  <%= link_to('Logout', destroy_patient_session_path, :method => :delete) %>        
  </li>
<% end %>