<% if doctor_signed_in? %>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Hello, <strong><%= current_doctor.first_name.capitalize %></strong> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to('Inbox', doctor_conversations_path(current_doctor)) %></li>
      <li><%= link_to('My Account', doctor_path(current_doctor)) %></li>
      <li><%= link_to('Patients', doctor_patients_path(current_doctor)) %></li>
      <li><%= link_to('Add A Patient', new_doctor_patient_path(current_doctor)) %></li>
      <li><%= link_to('Prescribe Medication', new_doctor_prescription_path(current_doctor)) %></li>
      <li class="divider"></li>
      <li><%= link_to('Logout', destroy_doctor_session_path, :method => :delete) %></li>
    </ul>
  </li>
<% elsif patient_signed_in? %>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Hello, <strong><%= current_patient.first_name.capitalize %></strong> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to('Inbox', patient_conversations_path(current_patient)) %></li>
      <li><%= link_to('My Account', patient_path(current_patient)) %></li>
      <li><%= link_to('My Scheduled Doses', patient_scheduled_doses_path(current_patient)) %></li>
      <li class="divider"></li>
      <li><%= link_to('Logout', destroy_patient_session_path, :method => :delete) %>        </li>
    </ul>
  </li>
<% end %>