<% if doctor_signed_in? %>
  <li><%= link_to("Hello, #{current_doctor.first_name.capitalize} ", doctor_path(current_doctor)) %></li>
  <li><%= link_to('', doctor_conversations_path(current_doctor), class: "fa fa-envelope-o") %></li>
  <li><%= link_to('', doctor_patients_path(current_doctor), class: "fa fa-users") %></li>
  <li><%= link_to('', destroy_doctor_session_path, method: :delete, class: "fa fa-sign-out") %></li>
  <li>&nbsp;&nbsp;&nbsp;</li>
<% elsif patient_signed_in? %>
  <li><%= link_to("Hello, #{current_patient.first_name.capitalize} ", patient_path(current_patient)) %></li>
  <li><%= link_to('', patient_conversations_path(current_patient), class: "fa fa-envelope-o") %></li>
    <li><%= link_to('', patient_scheduled_doses_path(current_patient), class: "fa fa-calendar") %></li>
    <li><%= link_to('', destroy_patient_session_path, method: :delete, class: "fa fa-sign-out") %></li>
  <li>&nbsp;&nbsp;&nbsp;</li>
<% end %>