<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient %><br>
    <%= f.collection_select :id, current_doctor.patients, :id, :name %><br>
  </div>

  <div class="field">
    <%= f.label :medication %><br>
    <%= f.text_field :medication_name %><br>
  </div>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_datetime, :ampm => true %><br>
  </div>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_datetime, :ampm => true %><br>
  </div>

  <div class="actions">
    <%= f.submit "Prescribe" %>
  </div>
<% end %>