
<form action="/medication_search" method="post" data-remote="true">
  <input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden">
  <%= text_field_tag :keyword, '', class: 'form-control' %>
  <br/>
  <%= button_tag "Search Medications", class: 'btn btn-primary'%><br>
  <br/>
</form>

<%= form_for(@prescription, url: doctor_prescriptions_path) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" id="med_dropdown">
  </div>
  <div class="field">
    <%= f.label :patient %><br>
    <%= f.collection_select :patient_id, current_doctor.patients, :id, :name, {}, {class: 'form-control'} %><br>
  </div>

  <div class="field">
    <%= label_tag :repeat %>
    <%= select_tag(:occurrence, options_for_select([["Daily"],["Hourly"] , ["Weekly"]]), {:class => "recurrence_option"}) %>
  </div>

  <div class="field_to_switch">
    <% weekday_options = {hidden: true, class: "weekdays"} %>
    <%= label_tag :every %>
    <%= number_field_tag :interval %>
    <%= label_tag :time_units, "days" %><br>
    <%= label_tag :S, "S", weekday_options %>
    <%= check_box_tag :"weekdays[]", "sunday", false, weekday_options %>
    <%= label_tag :M, "M", weekday_options %>
    <%= check_box_tag :"weekdays[]", "monday", false, weekday_options %>
    <%= label_tag :T, "T", weekday_options %>
    <%= check_box_tag :"weekdays[]", "tuesday", false, weekday_options %>
    <%= label_tag :W, "W", weekday_options %>
    <%= check_box_tag :"weekdays[]", "wednesday", false, weekday_options %>
    <%= label_tag :Th, "Th", weekday_options %>
    <%= check_box_tag :"weekdays[]", "thursday", false, weekday_options %>
    <%= label_tag :F, "F", weekday_options %>
    <%= check_box_tag :"weekdays[]", "friday", false, weekday_options %>
    <%= label_tag :Sa, "Sa", weekday_options %>
    <%= check_box_tag :"weekdays[]", "saturday", false, weekday_options %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_datetime, :ampm => true %><br>
  </div>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_datetime, :ampm => true %><br>
  </div>
  <div class="actions">
    <%= f.submit "Prescribe" %>
  </div>
<% end %>