<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
  </div>
   <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %><br>
  </div>

   <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>