<%= form_for(@patient,url: doctor_patients_path) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient %><br>
    <%= f.collection_select :id, Patient.all-current_doctor.patients, :id, :name, {}, {class: 'form-control'} %><br>
  </div>

  <div class="actions">
    <%= f.submit "Add Patient", type: 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>