<% if @doctor %>
<h2>Hello Dr. <%= @doctor.last_name %></h2>
<br><br>
<div class="page-header">
  <div class="bs-component">
    <%= link_to "Prescribe a medication", new_doctor_prescription_path, {style: "color: #FFF", class: "btn btn-primary"} %>
    <%= link_to "Add a patient", new_doctor_patient_path, {style: "color: #FFF", class: "btn btn-success"} %>
    <div class="btn-group">
      <a class="btn btn-danger" style="color: #FFF">Drop a patient</a>
      <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" style="color: #FFF"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% @doctor.patients.order(:last_name).each do |patient| %>
        <li><%= link_to(patient.name, doctor_patient_path(id: patient.id), data: {method: "DELETE", confirm: "Are you sure?"}) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br><br>
<div class="dashboard">
  <%= render 'dashboard' %>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Prescription</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Compliance</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <% @doctor.patients.order(:last_name).each do |patient| %>
      <% (@doctor.prescriptions & patient.prescriptions).each do |prescription| %>
        <tr>
          <td><%= link_to patient.name, doctor_patient_path(@doctor, patient), class: "btn btn-default btn-xs" %></td>
          <td><%= link_to("#{prescription.medication_name}", prescription_path(prescription))%></td>
          <td><%= prescription.start_datetime.to_date %></td>
          <td><%= prescription.end_datetime.to_date %></td>
          <td><%= prescription.scheduled_doses.where(was_taken: true).length %>/<%= prescription.scheduled_doses.where(scheduled_time: (100.years.ago)..(Time.now)).length %></td>
          <td><%= link_to('Delete', doctor_prescription_path(id: prescription.id), method: "DELETE", class: "btn btn-danger btn-xs", data: {confirm: "Are you sure?"}) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% else %>
<h4>You're not signed in!</h4>
<% end %>