HELLO DOCTOR <%= @doctor.last_name.upcase %>
<br><br>
<%= link_to "Add your patient", patients_path %>
<br><br>
<%= link_to "Prescribe Medication", new_prescription_path %>
<br><br>
Your patients:
<ul>
    <% @doctor.patients.each do |patient| %>
    <li>
    <%= link_to patient.name, patient_path(patient.id) %>
      <ul>
      <% patient.prescriptions.each do |prescription| %>
        <li>
        <%= prescription.medication_name %>
        </li>
      <% end %>
      </ul>
    </li>
    <% end %>
</ul>