<div class="panel panel-<%= sd.panel_class %>" data-id="<%= sd.id %>">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-6">
        <% @prescription = sd.prescription %>
        <%= link_to("#{sd.prescription.medication_name}", prescription_path(@prescription))%>
      </div>
      <div class="col-lg-6">
        <div class="checkbox">
          <label for="">
            <%= form_for(sd, remote: true) do |f| %>
                <%= f.hidden_field :prescription_id, value: sd.prescription.id %>
                <%= f.check_box :was_taken %>
            <% end %>
            Taken
          </label>

        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <img src="<%= sd.prescription.image_url %>" alt="pills">
        <%= sd.scheduled_time %>
      </div>
      <div class="col-lg-6">
        <%= form_for(sd, remote: true) do |f| %>
            <%= f.hidden_field :prescription_id, value: sd.prescription.id %>
            <%= f.text_area :side_effect, class: "form-control", rows: "3", :disabled => !sd.was_taken? %>
            <br/>
            <%= f.submit "Record Side Effects", class: "btn btn-default", :disabled => !sd.was_taken? %>
            <div class="side_effect_notice">
              <h5 class="text-success">
                <% if sd.side_effect_present? %>
                    Side Effects Recorded
                <% end %>
              </h5>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>