<% if @patient.missed_scheduled_dose? %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Warning!</h4>
      <p>Looks like you missed a scheduled dose yesterday. Please contact <a href="#" class="alert-link">your physician</a>.</p>
    </div>
<% end %>

<h1>List of Prescriptions for <%= @patient.name %> Today:</h1>
<% @patient.scheduled_doses_for_today.each do |sd| %>
  <div class="panel panel-<%= sd.panel_class %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-6">
        <%= sd.prescription.medication_name %>
        </div>
        <div class="col-lg-6">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Taken
                </label>
            </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <img src="<%= sd.prescription.image_url %>" alt="pillz">
      <%= sd.scheduled_time %>
    </div>
  </div>
<% end %>





    