<!DOCTYPE html>
<html>
  <head>
    <title>Medmed</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href='<%= root_path %>'>MedMed</a>
      </div>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to('About', about_path) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </div>
    </nav>

    <div class="container" id="wrap">
      <p class="notice"><strong><%= notice %></strong></p>
      <p class="alert"><strong><%= alert %></strong></p>

      <%= yield %>
      
    </div>
  </body>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      $(document).ready(function() {
        var badge = 0;
        var favicon = new Favico({
          animation : 'popFade'
        });
        $('#plusOne').bind('click', function() {
          badge = badge + 1;
          favicon.badge(badge);
        });
        $('#minusOne').bind('click', function() {
          badge = (badge - 1 < 0) ? 0 : (badge - 1);
          favicon.badge(badge);
        });
        $('#reset').bind('click', function() {
          favicon.reset();
        });
        //intial value
        favicon.badge(badge);
      });
    </script>








  <div id="footer">
    <div class="container">
      <p class="muted credit" style="text-align: center;">Copyright &copy; MedMed 2015 | Made with <i class="fa fa-heart" style="color:red"></i> at <span style="color:#14b3d9">//</span> Flatiron School</p>
    </div>
  </div>
</html>